extends layout

block content

  h1 #{item.name}
  p #[strong Description:] #{item.description}
  p #[strong Category:] 
    a(href=item.category[0].url) #{item.category[0].name}
  p #[strong Price:] $#{item.price}
  p #[strong Stock:] #{item.stock}

